.header nav {
    background-color: rgb(228, 139, 168);
    line-height: 40px;
}

.header nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    padding: 5px;
    font-size: 20px;
}

.header nav a:hover {
    background-color: black;
    color: white;
}

.header .header-selection {
    padding: 5px;
    margin: 30px;
    color: rgb(3, 3, 59);

}